<div class="container mt-5 full-page">
	<div class="row mb-5">
		<a class="btn-white" asp-action="AddProduct">ADD PRODUCT</a>
	</div>
	<div class="row mb-5">
		<a class="btn-white" asp-action="DeleteProduct">DELETE PRODUCT</a>
	</div>
</div>