@model ContactsViewModel
@{
    ViewData["Title"] = "Contacts";
}

<div class="user-input-content">

    <partial name="~/Views/Shared/Partials/_NavPath.cshtml" model="@ViewData["Title"]" />

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d65199.09847019675!2d18.02137071386719!3d59.29167680367588!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f78213511968d%3A0xfe0c9329d170106!2sJohanneshov%20Isstadion!5e0!3m2!1sen!2sse!4v1681829160845!5m2!1sen!2sse" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div class="container user-input-form">

        <form asp-controller="Register" asp-action="Index" method="post" novalidate>

            <h6 class="user-input-title">Come in Contact with US</h6>

            <div class="row">
                <div class="user-input-item col-lg-6">
                    <input class="user-input" asp-for="Name" placeholder="Your Name" />
                    <span asp-validation-for="Name"></span>
                </div>

                <div class="user-input-item col-lg-6">
                    <input class="user-input" asp-for="Email" placeholder="Your Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="user-input-item">
                <textarea asp-for="Comment" class="input-comment" placeholder="Comments"></textarea>
                <span asp-validation-for="Comment"></span>
            </div>

            <div class="user-input-item">
                <button class="input-button" type="submit">Post Comments</button>
            </div>


        </form>
    </div>
</div>