@model IEnumerable<ProductModel>

<section class="collection-grid">
    <div class="container">
        <div class="title">@ViewData["CollectionTitle"]</div>

        <div class="item-collection">

            @foreach (var item in Model)
            {
                <partial name="~/Views/Shared/Partials/_CollectionItem.cshtml" model="item" />
            }
        </div>
    </div>
</section>