<footer>
    <hr />
    <div class="footer-content">
        <a class="footer-icon-link"><i class="fa-brands fa-facebook-f footer-icon"></i></a>
        <a class="footer-icon-link"><i class="fa-brands fa-instagram footer-icon"></i></a>
        <a class="footer-icon-link"><i class="fa-brands fa-twitter footer-icon"></i></a>
        <a class="footer-icon-link"><i class="fa-brands fa-google footer-icon"></i></a>
        <a class="footer-icon-link"><i class="fa-brands fa-linkedin footer-icon"></i></a>
        <div>© @DateTime.Now.Year Fixxo. All Rights Reserved</div>
    </div>
</footer>