<div class="container mt-5">
    <hr />

    <div class="container text-center mt-5 mb-5">
        <div class="row">
            <div class="col-lg-3">
                <a class="information-link"><i class="fa-light fa-phone-flip icon-information"></i></a>
                <h5 class="name">Customer Support</h5>
                <p>Village did removed enjoyed explain talking.</p>
            </div>

            <div class="col-lg-3">
                <a class="information-link"><i class="fa-sharp fa-solid fa-lock-keyhole icon-information"></i></a>
                <h5 class="name">Secured Payment</h5>
                <p>Village did removed enjoyed explain talking.</p>
            </div>

            <div class="col-lg-3">
                <a class="information-link"><i class="fa-regular fa-truck fa-circle icon-information"></i></a>
                <h5 class="name">Free Home Delivery</h5>
                <p>Village did removed enjoyed explain talking.</p>
            </div>

            <div class="col-lg-3">
                <a class="information-link"><i class="fa-regular fa-truck icon-information"></i></a>
                <h5 class="name">30 Day Returns</h5>
                <p>Village did removed enjoyed explain talking.</p>
            </div>
        </div>
</div>
</div>
