@model int

@{
    int maxStars = 5;
    var stars = Enumerable.Range(1, maxStars).Select(i => i <= Model
        ? "fa-solid fa-star"
        : "fa-regular fa-star").ToList();
}

<div class="star-rating">
    @for (int i = 0; i < maxStars; i++)
    {
        <i class="fa-sharp @stars[i]"></i>
    }
</div>