<div class="container acccount-menu">
	<div class="row mb-5">
		<a class="btn-white" asp-action="Register">Register</a>
	</div>
	<div class="row mb-5">
		<a class="btn-white" asp-action="Login">Login/Logout</a>
	</div>
	<div class="row mb-5">
		<a class="btn-white" asp-action="Index" asp-controller="Admin">Admin Tools</a>
	</div>
</div>