<div class="container mt-5 full-page">
	<form asp-action="Logout" asp-controller="Account" method="post">
		<input type="hidden" name="tokenName" value="accessToken" />
		<button type="submit" class="btn-theme">Logout</button>
	</form>
</div>