@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
html, body {
  font-size: 1em;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  color: #222529;
}

.hide {
  display: none;
}

@media (min-width: 992px) {
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.links .link {
  color: #222529;
  font-weight: 500;
  text-decoration: none;
  margin: 10px 12px;
  display: block;
}
.links .link:hover, .links .link.active {
  color: #ff7373;
  text-decoration: none;
}

.icons .link {
  position: relative;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 5px;
  text-decoration: none;
  background-color: #ffffff;
  color: #222529;
  transition: background-color 0.25s, color 0.2s;
}
.icons .link:hover, .icons .link.active {
  background-color: #222529;
  color: #f5f5f5;
  text-decoration: none;
}

.star-rating {
  color: #ff7373;
  font-size: 1.375em;
}

button {
  border: none;
}

.btn-theme {
  position: relative;
  background-color: #ff7373;
  color: #f5f5f5;
  padding: 20px 80px;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  transition: background-color 0.25s;
  text-align: center;
}
.btn-theme::before {
  content: "";
  border-top: 2px solid #f5f5f5;
  border-left: 2px solid #f5f5f5;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.btn-theme::after {
  content: "";
  border-bottom: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.btn-theme:hover {
  background-color: #222529;
  color: #f5f5f5;
  text-decoration: none;
}

.btn-white {
  position: relative;
  color: #222529;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 80px;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  transition: background-color 0.25s, color 0.15s;
  text-align: center;
}
.btn-white::before {
  content: "";
  border-top: 2px solid #222529;
  border-left: 2px solid #222529;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.btn-white::after {
  content: "";
  border-bottom: 2px solid #222529;
  border-right: 2px solid #222529;
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.btn-white:hover {
  background-color: #222529;
  color: #f5f5f5;
  text-decoration: none;
}

.offer-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "offer";
  gap: 1rem;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 1920px;
  align-items: stretch;
}
@media (min-width: 992px) {
  .offer-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "offer office" "offer party";
  }
}
@media (min-width: 1200px) {
  .offer-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "office offer party";
  }
}
.offer-grid img {
  height: auto;
  width: 100%;
}
.offer-grid #office-style {
  grid-area: office;
  display: none;
}
@media (min-width: 992px) {
  .offer-grid #office-style {
    display: block;
  }
}
.offer-grid #party-style {
  grid-area: party;
  display: none;
}
@media (min-width: 992px) {
  .offer-grid #party-style {
    display: block;
  }
}
.offer-grid .offer {
  grid-area: offer;
  background-color: #f5f5f5;
  padding: 20px;
}
.offer-grid .offer .red-border {
  border: 6px solid #ff7373;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.offer-grid .offer .content {
  text-align: center;
  height: auto;
}
.offer-grid .offer .content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.offer-grid .offer .content button {
  margin-top: 20px;
}

.showcase {
  background-color: #f3f3f3;
  background: linear-gradient(90deg, #f3f3f3 0%, #f5f5f5 100%);
}
.showcase .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1200px) {
  .showcase .container {
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.showcase .content {
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .content {
    text-align: left;
  }
}
.showcase .content .title-1 {
  font-size: 2.5em;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin-bottom: 0.6em;
}
@media (min-width: 992px) {
  .showcase .content .title-1 {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  .showcase .content .title-1 {
    font-size: 4.063em;
  }
}
.showcase .content .title-2 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin-bottom: 0.6em;
}
@media (min-width: 992px) {
  .showcase .content .title-2 {
    font-size: 1.9em;
  }
}
@media (min-width: 1200px) {
  .showcase .content .title-2 {
    font-size: 2.188em;
  }
}
.showcase .content .title-3 {
  font-size: 1em;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
@media (min-width: 992px) {
  .showcase .content .title-3 {
    font-size: 1.1em;
  }
}
@media (min-width: 1200px) {
  .showcase .content .title-3 {
    font-size: 1.25em;
  }
}
.showcase img {
  display: none;
  max-height: 745px;
  width: auto;
}
@media (min-width: 1200px) {
  .showcase img {
    display: block;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
}
header #logotype {
  grid-area: logotype;
  font-size: 35px;
  font-weight: 700;
  color: #222529;
  text-decoration: none;
}
header #menu {
  grid-area: menu;
}
@media (min-width: 992px) {
  header #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menulinks menuicons";
  }
}
header #menu .menu-links {
  grid-area: menulinks;
}
header #menu .menu-icons {
  grid-area: menuicons;
  margin-top: 40px;
}
@media (min-width: 992px) {
  header #menu .menu-icons {
    text-align: right;
    margin-top: 0;
  }
}
header #toggle-icon {
  grid-area: toggleicon;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  header #toggle-icon {
    display: none;
  }
}
header .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logotype toggleicon" "menu menu";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logotype menu menu";
  }
}
@media (min-width: 992px) {
  header .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .icons .link {
  margin-left: 1rem;
}
@media (min-width: 992px) {
  header .icons {
    justify-content: flex-end;
  }
}

.collection-grid .title {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.collection-twocolumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.collection-twocolumns .bg-gray {
  background-color: rgba(0, 0, 0, 0.1);
}
.collection-twocolumns .column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection-twocolumns .column .content {
  text-align: center;
}
.collection-twocolumns .column .content h1 {
  font-weight: 700;
}
.collection-twocolumns .column.item-collection {
  justify-content: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-information {
  margin-bottom: 30px;
  font-size: 1.6em;
  width: 1.6em;
  text-align: center;
  line-height: 1.6em;
  background: white;
  color: black;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.information-link :hover {
  cursor: pointer;
  background: #B2B2B2;
}

footer {
  background-color: #f3f3f3;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container {
  text-align: center;
  height: 100px;
  margin-top: 25px;
  background-color: lightgray;
  padding-top: 30px;
}

.footer-icon {
  margin-left: 15px;
  margin-bottom: 15px;
  color: black;
}

.footer-icon-link {
  opacity: 0.7;
}

.footer-icon-link:hover {
  opacity: 1;
  cursor: pointer;
}

.item-collection {
  margin-bottom: 40px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .item-collection {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .item-collection {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .item-collection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .item-collection .item .image-section .menu {
    display: none;
  }
  .item-collection .item:hover .image-section .menu {
    display: block;
  }
}
.item-collection .item .image-section {
  position: relative;
}
.item-collection .item .image-section img {
  width: 100%;
  height: auto;
}
.item-collection .item .image-section .menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.item-collection .item .image-section .menu .icons {
  position: absolute;
  right: 0;
  top: 0;
}
.item-collection .item .image-section .menu .icons .link {
  margin: 15px;
  height: 50px;
  width: 50px;
  font-size: 1.4em;
}
@media (min-width: 992px) {
  .item-collection .item .image-section .menu .icons .link {
    height: 36px;
    width: 36px;
    font-size: 1em;
  }
}
.item-collection .item .image-section .menu .btn-theme {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.item-collection .item .body-section {
  text-align: center;
}
.item-collection .item .body-section .category {
  margin-top: 1rem;
  color: #616365;
  font-weight: 500;
}
.item-collection .item .body-section .name {
  margin-top: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  color: #222529;
  font-weight: 700;
  font-size: 1.4em;
  min-height: 50px;
}
@media (min-width: 992px) {
  .item-collection .item .body-section .name {
    font-size: 1.2em;
    min-height: 60px;
  }
}
.item-collection .item .body-section .star-rating {
  margin-top: 0.3rem;
  font-size: 1.5em;
}
.item-collection .item .body-section .price {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.3em;
}
@media (min-width: 992px) {
  .item-collection .item .body-section .price {
    font-size: 1.2em;
  }
}

.local-page-nav-items {
  margin-bottom: 25px;
}

.home-page-link {
  color: #000000;
  text-decoration: none;
  opacity: 0.8;
}

.home-page-link:hover {
  opacity: 1;
}

.current-page-text {
  color: #ff7373;
}

.map-frame {
  width: 100%;
}

.user-input-content {
  margin-top: 100px;
}

.user-input-form {
  margin-top: 100px;
}

.user-input-title {
  text-align: center;
  font-weight: bold;
}

.user-input {
  width: 100%;
  margin-top: 25px;
  padding: 10px;
}

.input-comment {
  margin-top: 25px;
  padding-bottom: 80px;
  width: 100%;
}

.input-button {
  margin-top: 25px;
  margin-bottom: 100px;
  background-color: #ff7373;
  color: #f5f5f5;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  transition: background-color 0.25s;
  text-align: center;
  opacity: 0.8;
}

.input-button:hover {
  opacity: 1;
}

.input-login-button {
  margin-top: 25px;
  background-color: #ff7373;
  color: #f5f5f5;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  transition: background-color 0.25s;
  text-align: center;
  opacity: 0.8;
  width: 100%;
}

.input-login-button:hover {
  opacity: 1;
}

.user-button-content {
  margin-bottom: 300px;
}

.product-details-text {
  text-align: center;
  color: #ff7373;
  margin: 50px 0px 20px;
  background-color: white;
}

.product-details-big-image {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.product-details-small-image {
  width: 100%;
  height: 100px;
  margin-bottom: 25px;
}

.product-details-small-text {
  font-size: 13px;
  color: #454545;
}

.product-detail-price {
  font-weight: bold;
}

.product-details-size-section {
  margin-top: 30px;
  margin-left: 30px;
  text-decoration: none;
}

.product-details-size {
  border: 1px solid;
  padding: 4px 10px;
  margin-left: 5px;
  text-decoration: none;
}

.product-details-color-section {
  margin-left: 25px;
}

.product-details-drop-down {
  padding: 6px 13px;
}

.product-details-qty-section {
  margin-left: 40px;
}

.product-details-Qty {
  border: 1px solid;
  padding: 8px 10px;
  font-weight: bold;
}

.product-details-Qty-Amount {
  border: 1px solid;
  padding: 8px 25px;
}

.product-details-button {
  background-color: #ff7373;
  color: #f5f5f5;
  padding: 6px 40px;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  transition: background-color 0.25s;
  text-align: center;
  opacity: 0.8;
}

.product-details-button:hover {
  opacity: 1;
}

.product-details-share-section {
  margin-left: 20px;
}

.product-details-icon {
  margin-left: 10px;
  font-size: 1.3em;
  width: 1.3em;
  text-align: center;
  line-height: 1.3em;
  background: #EAEAEA;
  color: black;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#product-details-link {
  color: #ff7373;
  text-decoration: underline;
}

.product-details-review-name {
  font-weight: bold;
  color: black;
}

.related-products-title {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.related-products-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  opacity: 0.8;
}

.related-products-link:hover {
  cursor: pointer;
  opacity: 1;
}

.related-products-content-link {
  margin-left: 20px;
  text-align: right;
}

.related-products-icon {
  margin-left: 15px;
}

.information-details {
  text-align: center;
}
